/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

.container {
    padding: 1em 0em 1em 0em;
    text-align: center;
    width: 100%;
}