<br>
<h2>Descrição</h2>
<p>
  Aplicação responsiva utilizando Angular 8, implementação de <a href="https://material.io/design/"> material design </a>  utilizando sua implementação para <a href="https://material.angular.io/">angular</a> e com integração com a <a href="https://developers.google.com/youtube/v3/"> API do youtube </a>.
</p>
<p>
  Funcionalidade de pesquisa por vídeos, listagem com paginação (infinite scroll) e de busca de estatísticas do vídeo selecionado, mostrando o vídeo e os detalhes em um iFrame.
</p>

