<div class="container">

    <div *ngIf="videos.items.length > 0; else pesquisaVazia">

        <h2>Lista de Vídeos</h2>
        <div class="list-card" infiniteScroll [infiniteScrollDistance]="1" [infiniteScrollThrottle]="1000"
            (scrolled)="onScroll()">

            <mat-card class="card" *ngFor="let video of videos.items">
                <mat-card-header>
                    <div mat-card-avatar class="header-image"></div>
                    <mat-card-title>{{ video.titulo }}</mat-card-title>
                    <mat-card-subtitle>{{ video.canal }}</mat-card-subtitle>
                </mat-card-header>
                <img mat-card-image [src]="video.imagens[2].urlImagem" [alt]="video.titulo">
                <mat-card-content>
                    <p>{{ video.descricao }}</p>
                </mat-card-content>
                <mat-card-actions>
                    <button mat-raised-button color="primary">ASSISTIR</button>
                </mat-card-actions>
            </mat-card>
        </div>
    </div>

    <ng-template #pesquisaVazia>
        <div class="container">
            <h2>Pesquise vídeos utilizando o campo acima</h2>
        </div>
    </ng-template>

</div>